
* {
  margin: 5px;
  padding: 5px;
  font-family: "Open Sans Light";
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  list-style: none;
  }

html {
	    background: none repeat scroll 0% 0% #EAEFF2;
		color:#000000;
}

@font-face {
  font-family: "Open Sans Light";
  src: url(fonts/OpenSans-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Open Sans Light";
/*  font-weight: bold;*/
  src: url(fonts/OpenSans-Light.ttf) format("truetype");
}

/*Tableau LDAP Additions*/

h1 {
	font-size: 36px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 28px;
}

#msg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:100%;
}

#msg a {
	color:#ffffff;
	text-decoration: underline;
}

button.moz-tableau-login {
							background-color:#e66000;
							-moz-border-radius:6px;
							-webkit-border-radius:6px;
							border-radius:6px;
							border:1px solid #dcdcdc;
							display:inline-block;
							color:#ffffff;
/*							font-family:arial;*/
							font-size:16px;
							font-weight:bold;
							padding:10px 20px;
							text-decoration:none;
						}.moz-tableau-login:hover {
							background-color:#ff9500;
						}.moz-tableau-login:active {
							position:relative;
							top:1px;
						}

#tableau-video {
	visibility:hidden;
}



